html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background: url(../images/bg-desktop.svg);
  background-color: #674baf;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

html body {
  width: 100%;
  max-width: 1440px;
  height: 100%;
  padding: 0;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

html body .container {
  width: auto;
  height: 100%;
  padding: 0% 5%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

html body .container .col-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  width: auto;
  height: 75%;
}

html body .container .col-left .logo {
  max-width: 175px;
  margin: 0;
  padding: 0;
  position: relative;
  top: 0;
}

html body .container .col-left .center {
  width: auto;
  height: auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
}

html body .container .col-left .center .illustration {
  width: 100%;
  height: auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

html body .container .col-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  width: 50%;
  height: 95%;
  color: #ffffff;
}

html body .container .col-right .center {
  width: 100%;
  height: auto;
  padding: 0;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: auto 0 0 auto;
}

html body .container .col-right .center .content {
  padding: 10%;
  padding-right: 0;
}

html body .container .col-right .center .content h1 {
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.05em;
  font-size: 2.5em;
}

html body .container .col-right .center .content p {
  width: 90%;
  font-family: "Open Sans", sans-serif;
  line-height: 2;
  font-size: 13pt;
}

html body .container .col-right .center .content button {
  background-color: #ffffff;
  padding: 0.9vmax 2.5vmax;
  border-radius: 25px;
  border-color: none;
  border-style: none;
  -webkit-box-shadow: 3px 7px 10px 0px rgba(0, 0, 0, 0.33);
  box-shadow: 3px 7px 10px 0px rgba(0, 0, 0, 0.33);
}

html body .container .col-right .social-media-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: auto 0 0 auto;
}

html body .container .col-right .social-media-icons .fab {
  height: 15px;
  width: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ffffff;
  border-radius: 50%;
}

@media screen and (max-width: 375px), (max-width: 640px) {
  html {
    background: url(../images/bg-mobile.svg);
    background-color: #674baf;
    background-repeat: no-repeat;
  }
  html .center {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=styles.css.map */